 
@{
    ViewData["Title"] = "Usuario";
}

<h1>Usuario</h1>
<div class="container p-4">
    <div class="form-group">
        <form asp-area="Usuario" asp-controller="Usuario" asp-action="Usuario" method="get">
            <div class="row">
                <div class="col-md-4">
                    <input type="text" id="filtrar" name="filtrar" placeholder="Buscar" class="form-control" />
                </div>
                <div class="col-md-4">
                    <input type="submit" value="Buscar" class="btn btn-success">
                </div>
            </div>
        </form>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-1">
                <a class="btn btn-primary text-white" asp-area="Usuario" asp-page="/Account/AddUsuario">Add</a>
            </div>
        </div>
    </div>
    <div class="row">

    </div>
</div>
